<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
	<sitecore role:require="Standalone or ContentManagement">
		<fieldTypes>
			<fieldType name="Search List" type="Sitecore.Data.Fields.MultilistField,Sitecore.Kernel" resizable="true" />
		</fieldTypes>
		<contentSearch>
			<indexConfigurations>
				<defaultSolrIndexConfiguration search:require="solr">
					<fieldMap>
						<fieldTypes>
							<fieldType fieldTypeName="search list" returnType="stringCollection" />
						</fieldTypes>
					</fieldMap>
					<fieldReaders>
						<mapFieldByTypeName>
							<fieldReader fieldTypeName="search list" fieldNameFormat="{0}" fieldReaderType="Sitecore.ContentSearch.FieldReaders.DelimitedListFieldReader, Sitecore.ContentSearch" />
						</mapFieldByTypeName>
					</fieldReaders>
				</defaultSolrIndexConfiguration>
				<defaultCloudIndexConfiguration search:require="azure">
					<fieldMap>
						<fieldTypes hint="raw:AddFieldByFieldTypeName">
							<fieldType fieldTypeName="search list" type="System.String[]" searchable="YES"  retrievable="YES"  facetable="YES"  filterable="YES"  sortable="NO" settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" />
						</fieldTypes>
					</fieldMap>
					<fieldReaders>
						<mapFieldByTypeName>
							<fieldReader fieldTypeName="search list" fieldNameFormat="{0}" fieldReaderType="Sitecore.ContentSearch.FieldReaders.DelimitedListFieldReader, Sitecore.ContentSearch" />
						</mapFieldByTypeName>
					</fieldReaders>
				</defaultCloudIndexConfiguration>
			</indexConfigurations>
		</contentSearch>
	</sitecore>
</configuration>