<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <fieldTypes>
      <fieldType name="Search List" type="Sitecore.Data.Fields.MultilistField,Sitecore.Kernel" resizable="true" />
    </fieldTypes>
	<contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration>
          <fieldMap>
            <fieldTypes>
              <fieldType fieldTypeName="search list" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String"   settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />
            </fieldTypes>
          </fieldMap>
          <fieldReaders>
            <mapFieldByTypeName>
              <fieldReader fieldTypeName="search list" fieldNameFormat="{0}" fieldReaderType="Sitecore.ContentSearch.FieldReaders.DelimitedListFieldReader, Sitecore.ContentSearch" />
            </mapFieldByTypeName>
          </fieldReaders>
        </defaultLuceneIndexConfiguration>
		
		<!-- ASL: PLEASE ENABLE THIS SECTION FOR THE SOLR PROVIDER -->
		<!--defaultSolrIndexConfiguration>
          <fieldMap>
            <fieldTypes>
              <fieldType fieldTypeName="search list" returnType="stringCollection" />
            </fieldTypes>
          </fieldMap>
          <fieldReaders>
            <mapFieldByTypeName>
              <fieldReader fieldTypeName="search list" fieldNameFormat="{0}" fieldReaderType="Sitecore.ContentSearch.FieldReaders.DelimitedListFieldReader, Sitecore.ContentSearch" />
            </mapFieldByTypeName>
          </fieldReaders>
        </defaultSolrIndexConfiguration-->
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>
  